# Artefactos que se generan al correr el proyecto
respaldos/*
reportes/*
estado/*
buzon/*
laboratorio/*
temporal/*
logs_prueba/*.log

# Mantenemos las carpetas presentes con .gitkeep
!respaldos/.gitkeep
!reportes/.gitkeep
!estado/.gitkeep
!estado/checkpoints/
!estado/checkpoints/.gitkeep
!buzon/.gitkeep
!laboratorio/.gitkeep
!temporal/.gitkeep
!logs_prueba/.gitkeep

# Estados de monitoreo
estado/checkpoints/*.estado

# Editores / SO
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Temporales de Office (abrir el informe genera estos)
~$*
